.header {
  background-color: #0e365a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  max-height: 62px;
  overflow: hidden;

  nav {
    @apply m-0;
    display: none;

    @media (min-width: 640px) {
      display: block;
    }
  }

  > div {
    @apply max-w-6xl mx-auto flex justify-between items-center py-3 px-6;

    nav a {
      @apply text-white align-middle mr-6;

      &:hover {
        @apply border-solid border-b-2 cursor-pointer;
      }

      &:last-child {
        @apply mr-0;
      }
    }

    :nth-child(2) {
      flex-grow: 1;
      text-align: center;
    }
  }

  h1 {
    @apply text-xl text-white font-semibold m-0 p-0;
    font-family: "Georgia";
    border: none;
  }
}

.footer {
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    @apply mt-4;
  }

  li:before,
  li:after {
    content: "";
  }

  background-color: #0e365a;
  @apply p-6 text-white;

  a,
  span {
    @apply text-white;
  }

  form {
    button {
      height: 50px;
    }
  }
}

.container {
  @apply max-w-6xl px-6 pb-6 mx-auto;
  font-family: "Georgia";
}
